# Maven
target/
!target/classes/.gitkeep
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE - Eclipse
.classpath
.project
.settings/

# IDE - VS Code
.vscode/

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log
debug.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

